<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <title>洪師傅的區塊助手-人力資源</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1">
    <meta name="description" content="money.blacksfuture.com" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="author" content="BlockChain Human Resource">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link rel="shortcut icon" href="./img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="./script/css/news_style.css" />
    <link rel="stylesheet" type="text/css" href="./script/css/news_list.css" />
    <link rel="stylesheet" type="text/css" href="./script/css/news_mediaQuery.css" />
    <link rel="stylesheet" type="text/css" href="./vendor/aos-master/dist/aos.css" />
    <link rel="stylesheet" href="./vendor/fontawesome-free-5.0.9/web-fonts-with-css/css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="./vendor/bootstrap-4.0.0/dist/css/bootstrap.css" />
</head>

<body>

    <section id="resource" class="d-flex flex-column justify-content-center align-items-center">
        <div class="main d-flex flex-column justify-content-center align-items-center">
            <div class="banner d-flex justify-content-between">
<!--                 <div class="classify d-flex align-items-center">
                    <div class="item active">找人才</div>
                    <div class="item">找工作</div>
                </div> -->
                <div class="search-content align-self-end">
                    <div class="search">
                        <i class="fa fa-search icon-style"></i>
                        <i v-on:click="cleanfilter" class="fa fa-times icon-style del-text"></i>
                        <input v-model="searchQuery" class="input-style" type="text" placeholder="找專業技能" />
                    </div>
                </div>
            </div>
            <div class="list-content d-flex justify-content-center align-items-center flex-row">
                <div id="info" class="list-table d-flex flex-wrap">
                    <div class="list-item"
                         v-for="(entry, index) in filterItems(entries)"
                         :class="{ active: active_el == index }"
                     >
                        <div class="header">
                            <h3>{{entry.gsx$line稱呼.$t}}</h3>
                            <div class="lineID">
                                <span>Line ID : </span>
                                <span class="id">{{entry.gsx$lineid.$t}}</span>
                            </div>
                            <div class="email">{{entry.gsx$電子郵件地址.$t}}</div>
                            <div class="display-all-list">
                                <i class="fa fa-list-ul display-icon"
                                   v-on:click="open(entry, this, index)"
                                   :class="{ 'fa-times': active_el == index }">
                                </i>
                            </div>
                        </div>
                        <div class="note">
                            <div class="item">
                                <span><strong>是否接觸過虛擬貨幣 : </strong></span>
                                <span>{{entry["gsx$一.是否接觸過虛擬貨幣"].$t}}</span>
                            </div>
                            <div class="item">
                                <span><strong>專業技能 : </strong></span>
                                <span>{{entry["gsx$二.可以提供的專業技能"].$t}}</span>
                            </div>
                            <div class="item">
                                <span><strong>備註 : </strong></span>
                                <span>{{entry.gsx$備註.$t}}</span>
                            </div>
                            <div class="item">
                                <span><strong>其他資訊網站linkedin等 : </strong></span>
                                <span>{{entry.gsx$其他資訊網站linkedin等.$t}}</span>
                            </div>
                            <div class="item">
                                <span><strong>姓名 : </strong></span>
                                <span>{{entry.gsx$姓名.$t}}</span>
                            </div>
                            <div class="item">
                                <span><strong>電話 : </strong></span>
                                <span>{{entry.gsx$電話.$t}}</span>
                            </div>
                        </div>
                    </div>                  
                </div>
                <div class="facebook-fan">
                    <div id="fb-root"></div>
                    <div class="fb-page" data-href="https://www.facebook.com/BlockFayjai" data-tabs="timeline" data-height="100%" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/BlockFayjai" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BlockFayjai">洪師傅的區塊助手</a></blockquote>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                Copyright 洪師傅的區塊助手 © 2018
            </footer>
    </section>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.9/jquery.mobile-events.min.js"></script>
<script src="./vendor/aos-master/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script src="./script/app.min.js"></script>
</html>
